@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --white: hsl(0, 0%, 100%);
    --lightGray: hsl(212, 45%, 89%);
    --darkBlue:hsl(218, 44%, 22%);
    --darkBlueShadow:rgba(31, 50, 81,0.1);
}
body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightGray);
    font-size:15px;
    font-family: 'Outfit', sans-serif;
    padding: 10px;
}
.container{
    padding: 15px;
    background-color: var(--white);
    box-shadow: 0 0 50px var(--darkBlueShadow);
    max-width: 350px;
    text-align: center;
    border-radius:20px;
}
.container img{
    width: 100%;
    height: auto;
    border-radius:10px;
    margin-bottom: 10px;
}
.container .content{
    padding:15px;
}
.container h1{
    color:var(--darkBlue);
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 1.5rem;
}
.container p{
    color: var(--darkBlue);
    opacity: 0.7;
    font-size: 1rem;
    margin-bottom: 10px;
    padding: 0 10px;
}
